.authors-page{
    min-height: 70svh;
    .authors-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5rem;
        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0.5rem;
        }
        .author-lists{
            display: flex;
            align-items: center;
            padding: 1rem ;
            border-radius: 0.5rem;
            background-color: white;
            gap: 1.5rem;
            .author-avatar{
                display: flex;
                align-items: center;
                img{
                    border-radius: 100%;
                    height: 70px;
                }
            }
            .author-information{
                .author-name{
                    font-size: 18px;
                    font-weight: 600;
                }
                .author-post{
                    margin-top: 0.5rem;
                    font-size: 15px;
                    color: rgb(61, 61, 61);
                    font-weight: 400;
                }
            }
        }
    }
}