.create-edit-post{
 

    .create-edit-post-container{
        max-width: 800px;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .error-output{
            background-color: rgb(255, 73, 73);
            border-radius: 0.25rem;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            p{
               color:white;
               font-size: 13px;
               line-height: 1.5rem;
            }
        }
        .create-edit-post-form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            

            .create-edit-post-title{
                font-size: 32px;
                font-weight: 600;
                color: rgb(64, 64, 64);
            }
            .title-input{
                width: 100%;
                padding: 0.5rem;
                resize: none;
            }
            .category-selection{
                width: 100%;
                font-weight: 300;
                .category-selected{
                    text-transform: capitalize;
                    padding: 0.5rem;
                    background-color: white;
                    color: rgb(64, 64, 64);
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    .arrow{
                        position: relative;
                        top: 5px;
                        right: 0;
                        transform: rotate(45deg);
                        transition: all ease-in-out 0.3s;
                        width: 0.5em;
                        height: 0.5em;
                        border-width: 0px 2px 2px 0px;
                        border-style: solid;
                        border-color: black;
                        &.open{
                            transform: rotate(225deg);
                        }
                    }  
                }
                .categories{
                    position: relative;
                    .category-name{
                        position: absolute;
                        top: 3px;
                        width: 100%;
                        border: 2px solid rgba(black, 0.3);
                        border-radius: 0.25rem;
                        background-color: white;
                        max-height: 0;
                        opacity: 0;
                        pointer-events: none;
                        list-style-type: none;

                        &.open{
                            max-height: 10rem;
                            overflow-y: scroll;
                            opacity: 10;
                            z-index: 10;
                            pointer-events: auto;
                        }
                        
                        .category-lists{
                            text-transform: capitalize;
                            padding: 0.25rem 0.5rem;
                            font-size: 12px;
                            cursor: pointer;
                            &:hover{
                                background-color: rgb(233, 233, 233);
                            }
                            &.select{
                                background-color: rgb(216, 216, 216);
                            }
                        }
                    }
                }
                
                    
            }
            .ql-editor{
                overflow: scroll;
                background: rgb(255, 255, 255);
                height: 10rem;
    
            }
            .submit-btn{
                cursor: pointer;
                border-radius: 4px;
                color: white;
                padding: 0.25rem 1rem;
                font-size: 16px;
                background-color: #008a8a;
            }
        }
    }
}