.nav-container{
    border-bottom: 1px solid rgba(black, 0.25);
    position: sticky;
    z-index: 10;
    transition: all 0.4s ease;
    margin-bottom: 1rem;
    backdrop-filter: blur(20px);
    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        padding: 0.5rem 2rem;
        margin: 0 auto;
        .main-logo{
            font-size: 36px;
            font-weight: 700;
            font-family: 'Prompt';
            color: darken(#00d6d6, 15);
            .art-text{
                color: #00d6d6;
            }
        }
        .nav-menu{
            display: flex;
            li{
                margin-left: 2.5rem;
                a{
                    transition: all 0.3s ease;
                    &:hover{
                        color: darken(#00d6d6, 15);
                    }
                }            
            }
            .login-btn{
                padding: 0.25rem 1rem;
                border-radius: 1rem;
                color: white;
                background-color: darken(#00d6d6, 15);
                border: 1px solid rgba(black, 0.25);
                transition: all 0.2s ease;
                &:hover{
                    color: black;
                    background-color: transparent;
                }
            }
        }
        .nav-toggle-btn{
            display: none;
        } 
    }
   

}