@import '../../App.scss';
.posts , .author-posts , .category-posts {
    min-height: 70svh;
    .posts-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.8rem;
            max-width: 800px;
        }
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;
            max-width: 500px;
        }

        .posts-container{
            background: rgb(247, 247, 247);
            overflow: hidden;
            height: auto;
            border-radius: 1rem;
            transition: all 0.4s ease;
            &:hover{
                transform: translateY(-2px);
                box-shadow: 0 5px 10px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
            }
          

            .post-category{
                position: relative;
                .post-category-link{
                    padding: 0.25rem 0.75rem;
                    position: absolute;
                    background-color : #c5f5ff;
                    top: 10px;
                    font-size: 14px;
                    font-weight: 300;
                    color: rgba(black,0.8);
                    border: 1px solid darken(#c5f5ff, 10);
                    text-transform: capitalize;
                }
            }
            
            .post-thumbnail{
               
                img{
                    height: 18rem;
                    object-fit: cover;
                    @media screen and (max-width: 1280px) {
                        height: 14rem;
                    }
                }
                margin-bottom: 0.25rem;
            }
            .post-content{
                padding: 0 1.5rem;
                &-title{
                    font-weight: 700;
                    font-size: 20px;
                }
                &-description{
                    margin-top: 0.5rem;
                    height: 4rem;
                    font-size: 14px;
                    color: rgba(black,0.8);
                    height: 5.5rem;
                    overflow: hidden;
                }
            }
            .post-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1rem 0;
                gap: 1rem;
                padding: 0 1.5rem;
                @media screen and (max-width: 1280px) {
                    margin-top: 2rem;
                }
            
            }
        }
    
    }
    
}