@import '../../App.scss';

.post-author{
    display: flex;
    align-items: center;
    &-avatar{
        img{
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &-details{
        margin-left: 1rem;
        small{
            color: rgba(black,0.7); 
        }
    }
}