.skeleton-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  
  @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
      max-width: 800px;
  }
  @media screen and (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      max-width: 500px;
  }

   .skeleton-loader{
    width: 100%;
    height: 300px;
    background:
        linear-gradient(0.25turn, transparent, #FFF, transparent),
        linear-gradient(#DDD, #DDD),
        radial-gradient(38px circle at 19px 19px, #DDD 50%, transparent 51%),
        linear-gradient(#DDD, #DDD);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 300px, 100% 70%, 100px 100px, 75% 40px;
    background-position: -300px 0, 0 0, 15px 120%, 70px 240px;
    animation: loading 1s infinite;
}

@keyframes loading {
  to {
    background-position: 400px 0, 0 0, 15px 120%, 70px 240px;
  }
}
}