@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$textcolorone : black;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    font-family: 'Prompt', sans-serif;
    transition: all 0.3s ease-in-out;
}
button{
    background: transparent;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
  
}
body{
    // font-family: 'Prompt', sans-serif;
    background : hwb(240 90% 0%);
    overflow-x: hidden;
    padding: 0 !important;
}
.hello-test{
    color: blue;
    font-size: 40px;
    font-weight: 700;
}
a{
    color: $textcolorone;
    text-decoration: none;
}

img{
    width: 100%;
}
.container{
    max-width: 1300px;
    padding: 10px 30px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        padding: 5px 15px;
    }
    @media screen and (max-width: 640px) {
        padding: 5px 10px;
    }
}
.not-found{
    height: 70svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .not-found-text{
        font-size: 28px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .error-image{
        width: auto;
        height: 250px;
        display: flex;
        margin: 2rem auto 0 auto;
    }
    .category-post-error{
        font-size: 32px;
        font-weight: 400;
    }
}
.password-form{
    background-color: white;
    display: flex; 
    width: 100%;

      .password-input{
        padding: 0.6rem 1rem;
        width: 100%;
        background: transparent;
      }
      .btn-showpassword{
        cursor: pointer;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
        font-size: 25px;
        display: flex;
        align-items: center;
      }
}
.homepage-loader, .post-details-loading, .post-loading{
    width: 250px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maintxt-one{
    color: darken(#00d6d6, 15);
}
.maintxt-two{
    color: #00d6d6;
}
.category-title{
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    margin: 1rem 0 2rem 0;
}
